@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EquipmentCategory>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
	<div id="departmentsHeadBackground"><img id="zonePageIcon" src="/media/1044/zonepageicondepartments.png" />
	<h1 id="zoneWhite">@Umbraco.Field("pageTitle")</h1>
	</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->

<!-----------------------M A I N   A R E A   C O N T A I N E R   ---   S T A R T------------->
	<div class="departmentsMainArea">

<!-----L E F T   N A V-----S T A R T----->
	<div id="depNav">
		<div id="thisDep"><a href="@CurrentPage.AncestorOrSelf(4).url">@CurrentPage.AncestorOrSelf(4).name</a></div>
		<ul id="depNav1">


			@*------------CONTROLS FOR LEVEL 5-------------*@
			@*-----displays all siblings (indented) + self (indented and highlighted) when on level 5----- *@
			@if
				(@CurrentPage.Name == @CurrentPage.AncestorOrSelf(5).Name)
				{
					@*-----displays all siblings (indented)----- *@
					foreach (var sibling in CurrentPage.Parent.Children)
					{
						if(@sibling.Name != @CurrentPage.Name)
						{
							<li><a href="@sibling.Url">@sibling.Name</a></li>
						}else{
					@*-----displays self (highlighted)----- *@

							<li id="self"><a href="@CurrentPage.url">@CurrentPage.Name</a></li>

						}
					}
				}


			@*------------CONTROLS FOR LEVEL 6-------------*@
			@*-----displays all siblings (indented) + self (indented and highlighted) when on level 6----- *@
			else if
				(@CurrentPage.Name == @CurrentPage.AncestorOrSelf(6).Name)
				{
					@*-----displays all PARENT's siblings----- *@
					foreach (var uncle in CurrentPage.Parent.Parent.Children)
					{
						if(@uncle.Name != @CurrentPage.Parent.Name)
						{
							<li><a href="@uncle.url">@uncle.Name</a></li>
						}else
						{
							@*----displays the parent page (highlighted)-------*@
							<li id="self"><a href="@CurrentPage.Parent.Url">@CurrentPage.Parent.Name</a></li>
							@*-----displays all siblings (indented)----- *@
								foreach (var sibling in CurrentPage.Parent.Children)
								{
									if(@sibling.Name != @CurrentPage.Name)
									{
									<li id="indent20"><a href="@sibling.Url">@sibling.Name</a></li>
								}else
								{
									@*-----displays self (highlighted)----- *@
									<li id="selfIndent20"><a href="@CurrentPage.url">@CurrentPage.Name</a></li>

								}
							}
						}
					}
				}else
			if(@CurrentPage.Name == @CurrentPage.AncestorOrSelf(7).Name)
			{
			@*------------CONTROLS FOR WHEN ON LEVEL 7-------------*@
			@*-----displays all GRANDPARENT's siblings----- *@

			foreach (var greatUncle in CurrentPage.Parent.Parent.Parent.Children)
			{

				if (@greatUncle.Name != @CurrentPage.Parent.Parent.Name)
				{
				<li><a href="@greatUncle.url">@greatUncle.Name</a></li>
				}else{
				<li id="self"><a href="@CurrentPage.Parent.Parent.url">@CurrentPage.Parent.Parent.Name</a></li>

				foreach (var uncle in CurrentPage.Parent.Parent.Children)
				{
					if(@uncle.Name != @CurrentPage.Parent.Name)
					{
						<li id="indent20"><a href="@uncle.url">@uncle.Name</a></li>
					}else{
						@*----displays the parent page (highlighted)-------*@
						<li id="selfIndent20"><a href="@CurrentPage.Parent.Url">@CurrentPage.Parent.Name</a></li>

						@*-----displays all siblings (indented) + self (highlighted)----- *@
						foreach (var sibling in CurrentPage.Parent.Children)
						{
							if(@sibling.Name != @CurrentPage.Name)
							{
								<li id="indent40"><a href="@sibling.Url">@sibling.Name</a></li>
								}else
								{
									<li id="selfIndent40"><a href="@CurrentPage.url">@CurrentPage.Name</a></li>

										}
									}
								}
							}
						}
					}
				}




	</div>
<!-----L E F T   N A V-----E N D----->

<!---------------------------------C O N T E N T   S T A R T---------------------------------------------->
<div id="contentWide">

@foreach (var item in CurrentPage.Children)
{
	@*-----outer container start-----*@
	<div id="equipmentOuterContainer">
		<div id="equipmentModel">
		<h2 id="equipmentModel">@item.equipmentModel</h2>
		</div>


		@*-----left column start-----*@
		<div id="equipmentColumnLeft">
			<div id="equipmentDetailsContainer">
				<div id="equipmentDetailsQ">Manufacturer</div>
				<div id="equipmentDetailsA">@item.equipmentManufacturer</div>
			</div>
			<div id="equipmentDetailsContainer">
				<div id="equipmentDetailsQ">Supplier</div>
				<div id="equipmentDetailsA">@item.equipmentSupplier</div>
			</div>
			<div id="equipmentDetailsContainer">
				<div id="equipmentDetailsQ">Cost per item</div>
				<div id="equipmentDetailsA">@item.equipmentCost</div>
			</div>
			<div id="equipmentDetailsContainer">
				<div id="equipmentDetailsQ">Minor Equipment Request Form required?</div>
				<div id="equipmentDetailsA">@item.equipmentForm</div>
			</div>
			
			@if (item.HasValue("equipmentNotes"))
			{
			<div id="equipmentDetailsContainerDouble">
				<div id="equipmentDetailsQ">Notes</div>
				<div id="equipmentDetailsA">@item.equipmentNotes</div>
			</div>
			}
		</div>
		@*-----left column end-----*@

		@*-----right column start-----*@
		<div id="equipmentColumnRight">
			<div id="equipmentImageContainer">
				<div id="equipmentImage"><img src="@Umbraco.Media(item.equipmentImage).Url" /></div>
			</div>
			<div id="equipmentLink">
				<a id="depUsefulLink" href="@item.equipmentLinkURL" target="_blank">@item.linkText</a>
			</div>
		</div>
		@*-----right column end-----*@

	</div>
	@*-----outer container end-----*@
}

@*-----Fixed 'See also' section----- *@
<div id="seeAlsoWrapper">
	<div id="seeAlso">
		<h2 id="seeAlso">See also</h2>
		<ul id="seeAlso">
		<li id="seeAlso"><a id="seeAlso" href="/departments/departments-t/trust-equipment/forms/">Trust Equipment: Forms</a></li>
			@*-----Optional 'See also' items----- *@
			@if(@CurrentPage.addSeeAlsoSection==true)
			{
				foreach (var link in @CurrentPage.seeAlso)
				{
					<li id="seeAlso"><a id="seeAlso" href="@link.Url">@link.Name</a></li>
				}
			}
		</ul>
	</div>
</div>

@Html.Partial("advertisingBanner")

<!----- P A G E   I N F O ----- S T A R T ----->
				<div id="pageInfo">
					<div id="pageInfoOwner"><strong>Content owner:</strong><br />@CurrentPage.AncestorOrSelf(4).pageOwner<text>,</text><br />@CurrentPage.AncestorOrSelf(4).pageOwnersPosition</div>
					<div id="pageInfoEditor"><strong>Report a problem with this page to:</strong><br /><a id="pageInfoEditor" href="mailto:@CurrentPage.AncestorOrSelf(4).subEditor?subject=Intranet%20problem&amp;body=Hi%0A%0APage%20title%3A%20(@Umbraco.Field("pageName"))%0A%0AI%27ve%20noticed%20this%20problem%3A%0A%0A">@CurrentPage.AncestorOrSelf(4).subEditor</a></div>
					<div id="pageInfoLastUpdated"><strong>Last updated:</strong><br />@CurrentPage.updateDate.ToString("dd MMMM yyyy")</div>
				</div>
				<!----- P A G E   I N F O ----- E N D ----->

</div>
<!---------------------------------C O N T E N T   E N D--------------------------------------------->

</div>
<!-----------------------M A I N   A R E A   C O N T A I N E R   ---   E N D------------->






