@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FiveHundredLivesContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "NewIntranetMaster.cshtml";
}
@Html.Partial("atozButtons")
<!----- P A G E   H E A D I N G ------------- S T A R T ------->
	<div id="fiveHeadBackground"><img id="zonePageIcon" src="/media/1097/pageicon-500lives.png" /><h1 id="zoneWhite">@Umbraco.Field("pageTitle")</h1>
	</div>
<!----- P A G E   H E A D I N G ------------- E N D ------->

	<!-----------------------M A I N   A R E A   C O N T A I N E R   ---   S T A R T------------->
	<div class="fiveMainArea">

<!-----L E F T   N A V-----S T A R T----->
	<div id="depNav">
		<div id="thisFive"><a href="@CurrentPage.AncestorOrSelf(2).url">@CurrentPage.AncestorOrSelf(2).name</a></div>
		<ul id="fiveNav1">



			@*------------CONTROLS FOR WHEN ON LEVEL 3-------------*@

			@if(@CurrentPage.Name == @CurrentPage.AncestorOrSelf(3).Name)
			{
			@*-----displays all siblings + self (highlighted)----- *@
				foreach (var sibling in CurrentPage.Parent.Children)
				{
					if(@sibling.Name == @CurrentPage.Name)
					{
					<li id="self"><a href="@CurrentPage.url">@CurrentPage.Name</a></li>

						@*------displays the children of the current page (indented)-----*@

							foreach (var childpage in CurrentPage.Children)
							{
							<li id="indent20"><a href="@childpage.Url">@childpage.Name</a></li>
							}
					}else{
						<li><a href="@sibling.Url">@sibling.Name</a></li>
					}
				}
			}else
			if(@CurrentPage.Name == @CurrentPage.AncestorOrSelf(4).Name)
			{
			@*------------CONTROLS FOR WHEN ON LEVEL 4-------------*@
				@*-----displays all PARENT's siblings----- *@
				foreach (var uncle in CurrentPage.Parent.Parent.Children)
				{
					if(@uncle.Name != @CurrentPage.Parent.Name)
					{
						<li><a href="@uncle.url">@uncle.Name</a></li>
					}else{
						@*----displays the parent page (highlighted)-------*@
						<li id="self"><a href="@CurrentPage.Parent.Url">@CurrentPage.Parent.Name</a></li>

						@*-----displays all siblings (indented) + self (highlighted)----- *@
						foreach (var sibling in CurrentPage.Parent.Children)
						{
							if(@sibling.Name != @CurrentPage.Name)
							{
								<li id="indent20"><a href="@sibling.Url">@sibling.Name</a></li>
							}else{
								<li id="selfIndent20"><a href="@CurrentPage.url">@CurrentPage.Name</a></li>
							}
						}
					}
				}
			}else
			if(@CurrentPage.Name == @CurrentPage.AncestorOrSelf(5).Name)
			{
			@*------------CONTROLS FOR WHEN ON LEVEL 5-------------*@
			@*-----displays all GRANDPARENT's siblings----- *@

			foreach (var greatUncle in CurrentPage.Parent.Parent.Parent.Children)
			{

				if (@greatUncle.Name != @CurrentPage.Parent.Parent.Name)
				{
				<li><a href="@greatUncle.url">@greatUncle.Name</a></li>
				}else{
				<li id="self"><a href="@CurrentPage.Parent.Parent.url">@CurrentPage.Parent.Parent.Name</a></li>

				foreach (var uncle in CurrentPage.Parent.Parent.Children)
				{
					if(@uncle.Name != @CurrentPage.Parent.Name)
					{
						<li id="indent20"><a href="@uncle.url">@uncle.Name</a></li>
					}else{
						@*----displays the parent page (highlighted)-------*@
						<li id="selfIndent20"><a href="@CurrentPage.Parent.Url">@CurrentPage.Parent.Name</a></li>

						@*-----displays all siblings (indented) + self (highlighted)----- *@
						foreach (var sibling in CurrentPage.Parent.Children)
						{
							if(@sibling.Name != @CurrentPage.Name)
							{
								<li id="indent20"><a href="@sibling.Url">@sibling.Name</a></li>
								}else
								{
									<li id="selfIndent40"><a href="@CurrentPage.url">@CurrentPage.Name</a></li>									}
									}
								}
							}
						}
					}
				}


		</ul>

	</div>
<!-----L E F T   N A V-----E N D----->

			<!---------------------------------C O N T E N T   S T A R T---------------------------------------------->
			<div id="contentWide">

				<table id="teamMember" cellpadding="0" cellspacing="0">
				@foreach (var item in CurrentPage.Children)
				{
				<tr>
				<td id="fiveTeamMemberPhoto"><img src="@Umbraco.Media(item.teamMemberPhoto).Url" width="80" /></td>
				<td id="fiveTeamMemberName">@item.teamMemberName</td>
				<td id="fiveTeamMemberJobTitle">@item.teamMemberJobTitle</td>
				<td id="fiveTeamMemberDetailsLink"><a href="@item.teamMemberDetailsLink" target="_blank">Contact details for @item.teamMemberName</a></td>
				</tr>					
				}
				</table>
					
@*----- Optional 'See also' section----- *@
@Html.Partial("seeAlsoSection")

				<!----- P A G E   I N F O ----- S T A R T ----->
				<div id="fiveInfo">
					<div id="fiveInfoOwner"><strong>Content owner:</strong><br />@CurrentPage.AncestorOrSelf(2).pageOwner<text>,</text><br />@CurrentPage.AncestorOrSelf(2).pageOwnersPosition</div>
					<div id="fiveInfoEditor"><strong>Report a problem with this page to:</strong><br /><a id="pageInfoEditor" href="mailto:@CurrentPage.AncestorOrSelf(2).subEditor?subject=Intranet%20problem&amp;body=Hi%0A%0APage%20title%3A%20(@Umbraco.Field("pageName"))%0A%0AI%27ve%20noticed%20this%20problem%3A%0A%0A">@CurrentPage.AncestorOrSelf(2).subEditor</a></div>
					<div id="fiveInfoLastUpdated"><strong>Last updated:</strong><br />@CurrentPage.updateDate.ToString("dd MMMM yyyy")</div>
				</div>
				<!----- P A G E   I N F O ----- E N D ----->




			</div>
			<!---------------------------------C O N T E N T   E N D--------------------------------------------->

	</div>
	<!-----------------------M A I N   A R E A   C O N T A I N E R   ---   E N D------------->






