@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewHomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
    string userName = System.Web.HttpContext.Current.User.Identity.Name;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
	<title>@Umbraco.Field("pageName")</title>
	<link rel="stylesheet" href="/css/index.css" media="screen">
	<link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/media/1047/favicon6.png" type="image/png" />
</head>
<body>

<!----- H O M E   P A G E   C O N T A I N E R --- S T A R T ----->
<div class="homePageContainer">
<div id="trustLogo"><img src="/media/1835/trustlogocolourontransparent210x62.png" title="Trust logo" /></div>

<!--- A - Z --- L I N K S --- S T A R T --->
	<div id="atozLetterLinksHomePage">
		<a href="/a-to-z/a/" title="A"><div id="letter"><table><tr><td id="letter">A</td></tr></table></div></a>
		<a href="/a-to-z/b/" title="B"><div id="letter"><table><tr><td id="letter">B</td></tr></table></div></a>
		<a href="/a-to-z/c/" title="C"><div id="letter"><table><tr><td id="letter">C</td></tr></table></div></a>
		<a href="/a-to-z/d/" title="D"><div id="letter"><table><tr><td id="letter">D</td></tr></table></div></a>
		<a href="/a-to-z/e/" title="E"><div id="letter"><table><tr><td id="letter">E</td></tr></table></div></a>
		<a href="/a-to-z/f/" title="F"><div id="letterNarrower"><table><tr><td id="letterNarrower">F</td></tr></table></div></a>
		<a href="/a-to-z/g/" title="G"><div id="letter"><table><tr><td id="letter">G</td></tr></table></div></a>
		<a href="/a-to-z/h/" title="H"><div id="letter"><table><tr><td id="letter">H</td></tr></table></div></a>
		<a href="/a-to-z/i/" title="I"><div id="letterNarrower"><table><tr><td id="letterNarrower">I</td></tr></table></div></a>
		<a href="/a-to-z/j/" title="J"><div id="letterNarrower"><table><tr><td id="letterNarrower">J</td></tr></table></div></a>
		<a href="/a-to-z/k/" title="K"><div id="letter"><table><tr><td id="letter">K</td></tr></table></div></a>
		<a href="/a-to-z/l/" title="L"><div id="letterNarrower"><table><tr><td id="letterNarrower">L</td></tr></table></div></a>
		<a href="/a-to-z/m/" title="M"><div id="letter"><table><tr><td id="letter">M</td></tr></table></div></a>
		<a href="/a-to-z/n/" title="N"><div id="letter"><table><tr><td id="letter">N</td></tr></table></div></a>
		<a href="/a-to-z/o/" title="O"><div id="letter"><table><tr><td id="letter">O</td></tr></table></div></a>
		<a href="/a-to-z/p/" title="P"><div id="letter"><table><tr><td id="letter">P</td></tr></table></div></a>
		<a href="/a-to-z/q/" title="Q"><div id="letter"><table><tr><td id="letter">Q</td></tr></table></div></a>
		<a href="/a-to-z/r/" title="R"><div id="letter"><table><tr><td id="letter">R</td></tr></table></div></a>
		<a href="/a-to-z/s/" title="S"><div id="letter"><table><tr><td id="letter">S</td></tr></table></div></a>
		<a href="/a-to-z/t/" title="T"><div id="letterNarrower"><table><tr><td id="letterNarrower">T</td></tr></table></div></a>
		<a href="/a-to-z/u/" title="U"><div id="letter"><table><tr><td id="letter">U</td></tr></table></div></a>
		<a href="/a-to-z/v/" title="V"><div id="letter"><table><tr><td id="letter">V</td></tr></table></div></a>
		<a href="/a-to-z/w/" title="W"><div id="letter"><table><tr><td id="letter">W</td></tr></table></div></a>
		<a href="/a-to-z/x/" title="X"><div id="letter"><table><tr><td id="letter">X</td></tr></table></div></a>
		<a href="/a-to-z/y/" title="Y"><div id="letterNarrower"><table><tr><td id="letterNarrower">Y</td></tr></table></div></a>
		<a href="/a-to-z/z/" title="Z"><div id="letter"><table><tr><td id="letter">Z</td></tr></table></div></a>
		<form role="search" action="/search-results/" method="get" name="searchForm">
			<div id="search">
				<div class="site-search">
    				<label class="control-label hidden" for="email">Search</label>
	    			<input type="text" class="form-control" id="search_field" name="search_field" placeholder='Search'>
					<button type="submit" class="searchButton"><img src="/media/1836/searchicon20x20.png" title="Search" /></button>
				</div>
			</div>
		</form>
	</div>
	<!--- A - Z --- L I N K S --- E N D --->

	<!---NEWS-LIST----START--->
		<div id="indexNewsList">
			<table id="indexNewsList" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td id="indexNewsListMain">
					<ul id="indexNewsList">

					@*----- sets the 'News top story' folder location ---- *@
					@{
					var topStoryFolder = Umbraco.TypedContent(@Umbraco.Field("topStoryFolder").ToString());
					}
						@{
							foreach (var child in topStoryFolder.Children.OrderBy("updateDate descending"))
							{

							<a href="@child.Url" title="@child.Name">
							<li id="newsTopStory">
							@*----- image size is constrained to 260x150  -----*@
							<img id="newsTopStory" src="@Umbraco.TypedMedia(child.GetProperty("pageListingImage").Value).GetCropUrl(width: 260, height: 150)"
								title="@child.Name" itemprop="image" />


							</li>
							<div id="newsTopStoryCaption">@child.Name</div></a>
						}
					}

					@*----- sets the parent node (this month) ---- *@
					@{
					var thisMonthList = Umbraco.TypedContent(@Umbraco.Field("thisMonthID").ToString());
					}
						@*----- sets counter and then counts 4 items ----- *@
						@{
		    			int count = 1;

							@*--- lists the six most-recently updated news articles from this month ---*@
							@*--- if there are less than six, the next block continues by taking them from last month ---*@
							foreach (var child in thisMonthList.Children.OrderBy("updateDate descending"))
							{
								if (count <= 4)
								{
								<a href="@child.Url" title="@child.Name">
								<li id="indexNewsList">
								@*----- image size is constrained to 130x75  -----*@
								<img id="indexNewsList" src="@Umbraco.TypedMedia(child.GetProperty("pageListingImage").Value).GetCropUrl(width: 130, height: 75)" itemprop="image"><p id="indexNews">@child.Name</p>
								</li></a>
								}
								count = count + 1;
							}
						}

						@*----- sets the parent node (last month) ----*@
						@{
						var lastMonthList = Umbraco.TypedContent(@Umbraco.Field("lastMonthID").ToString());
						}
								@{
								@*---continues to list the most-recently updated news articles from this last month until the count gets to six---*@
								foreach (var child in lastMonthList.Children.OrderBy("updateDate descending"))
								{
								if (count <= 4)
								{
								<a href="@child.Url" title="@child.Name">
								<li id="indexNewsList">
								@*----- image size is constrained to 130x75  -----*@
								<img id="indexNewsList" src="@Umbraco.TypedMedia(child.GetProperty("pageListingImage").Value).GetCropUrl(width: 130, height: 75)" itemprop="image" /><p id="indexNews">@child.Name</p>
								</li></a>
								}
								count = count + 1;
							}
						}
					</ul>
				</td>
			</tr>
			</table>
		</div>
	<!---NEWS-LIST----END--->

	<!----FRONT PAGE GRID START------------------------------------------------------>
	<!---1---START--->
		<a href="/services/" title="Services">
		<div id="gridPosition1">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition1"><img src="/media/1016/icon-support.png" /><br />Services</td>
			</tr>
			</table>
		</div>
		</a>
	<!---1---END--->
	<!---2 --->
		<a href="/clinical-systems/" title="Clinical systems">
		<div id="gridPosition2">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition2"><img src="/media/1019/icon-clinical.png" /><br />Clinical<br />systems</td>
			</tr>
			</table>
		</div>
		</a>
	<!---2 ---END--->
	<!---3---START--->
		<a href="/patient-support/" title="Patient support">
		<div id="gridPosition3">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition3"><img src="/media/1908/icon-support2.png" /><br />Patient support</td>
			</tr>
			</table>
		</div>
		</a>
	<!---3---END--->
	<!---4---START--->
		<a href="/incidents-risks-emergencies/" title="Emergencies, incidents, risks">
		<div id="gridPosition4">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition4">
			<img src="/media/2184/icon-incident3a.png" /><br />
			Click to log<br />incidents and risks</td>
			</tr>
			</table>
		</div>
		</a>
	<!---4---END--->
	<!---5---START--->
		<a href="/find-a-colleague/" title="Find a colleague">
		<div id="gridPosition5">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition5"><img src="/media/1018/icon-colleague.png" /><br />Find a<br />colleague</td>
			</tr>
			</table>
		</div>
		</a>
	<!---5---END--->
	<!---6---START--->
		<a href="/trust-wide-documents/" title="Trust-wide documents">
		<div id="gridPosition6">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition6"><img src="/media/2162/icon-trustwidedocuments2.png" /><br />Trust-wide<br />documents</td>
			</tr>
			</table>
		</div>
		</a>
	<!---6---END--->
	<!---7---START--->
		<a href="/news/" title="More news">
		<div id="gridPosition7">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition7"><img src="/media/1023/icon-news2.png" /><br />More news</td>
			</tr>
			</table>
		</div>
		</a>
	<!---7---END--->
	<!---8 ---START--->
		<a href="/staffroom/" title="Staff area">
		<div id="gridPosition8">
			<table cellpadding="0" cellspacing="0">
			<tr>
			<td id="gridPosition8"><img src="/media/1022/icon-staffroom.png" /><br />Staff area</td>
			</tr>
			</table>
		</div>



	<!---8 ---END--->
	<!---9---START-->
		</a>
			<a href="/careers/" title="Careers and training">
			<div id="gridPosition9">
				<table cellpadding="0" cellspacing="0">
				<tr>
				<td id="gridPosition9"><img src="/media/1017/icon-careers.png" /><br />Careers<br />and training</td>
				</tr>
				</table>
			</div>
		</a>
	<!---9---END--->
	<!----FRONT PAGE GRID END------------------------------------------------------>

	<!---GRAPEVINE---START--->
		<div id="grapevine">
			<table id="grapevine" cellpadding="0" cellspacing="0">
			<tr>
				<td id="grapevineMain">
					<ul id="grapevineMain">
						@{
	var grapevineFolder = Umbraco.TypedContent(@Umbraco.Field("startNodeID").ToString());
	}
		@{

			foreach (var child in grapevineFolder.Children.OrderBy("updateDate descending"))
			{

				<a id="speechBubbleHomePage" href="@child.Url">
				<li id="grapevineMain">

				<p class="speechBubble">@child.Name</p>
				</li></a>
			}
		}
					</ul>
				</td>
			</tr>
				<tr>
				<td id="grapevineFooter">
				<a href="/staffroom/grapevine/"><div id="grapevineFooter">See all Grapevine messages or add your own</div></a>
				</td>
			</tr>
			<tr>
				<td id="grapevineSocial">
				<div id="grapevineStatus2"><img src="@Umbraco.TypedMedia(Model.Content.GetPropertyValue("opelStatusImage")).Url" title="" /></div>
				</td>
			</tr>
			</table>
		</div>
	<!---GRAPEVINE---END--->



</div>
<!----- P A G E   C O N T A I N E R --- E N D ----->
						